* {
    font-family: "Poppins", sans-serif;
    margin: 0;
}

body.light {
    --background-color: #fdfdf8;
    --header-color: #C2A68C;
    --text-color: #978a77;
    --button-border: 2px solid #937d69;
    --text-hovered: #b49476;
    --button-standard-border: 2px solid #c2a68c;
    --background-selected: #7b6a5b;
}

body.dark {
    --background-color: #363b4e;
    --header-color: #927fbf;
    --text-color: #c4bbf0;
    --button-border: 2px solid #6e608f;
    --text-hovered: #928cb4;
    --button-standard-border: 2px solid #927fbf;
    --background-selected: #6e608f;
}

body {
    background-color: var(--background-color);
}

h1, h2 {
    color: var(--header-color);
}

header {
    margin: 1rem 1rem 0rem 0rem;
    padding: .5rem;
}

header ul {
    display: flex;
    justify-content: right;
    list-style: none;
    align-items: center;
}

header .change-theme {
    width: 30px;
    cursor: pointer;
}

.hidden {
    display: none;
}

p {
    color: var(--text-color);
}

#welcome {
    text-align: center;
}

#timer {
    padding: 2rem;
    text-align: center;
    font-size: 2rem;
}

#click-section {
    display: flex;
    justify-content: center;
}

.click {
    border: var(--button-standard-border);
    color: var(--text-color);
    padding: .2rem 1.5rem;
    background-color: transparent;
    font-size: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: all ease-in-out .2s;
}

.click:hover, #controls button:hover {
    border: var(--button-border);
    color: var(--text-hovered);
}

.note {
    font-size: .7rem;
    text-align: center;
    margin-top: 1rem;
}

/* Stats */

#stats {
    padding: 2rem 0;
}

#stats h2 {
    text-align: center;
    margin-bottom: 1rem;
}

#stats ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    justify-content: center;
}

#stats li {
    border: var(--button-border);
    padding: 1rem 1.5rem;
    border-radius: 2rem;
}

#stats li span {
    font-size: 1.5rem;
    font-weight: bolder;
    color: var(--header-color);
}

#controls {
    text-align: center;
}

.durations {
    padding: 2rem;
}

#controls button {
    border: var(--button-border);
    padding: .5rem 1.5rem;
    border-radius: 1rem;
    color: var(--text-color);
    background-color: transparent;
    transition: all ease-in-out .2s;
    cursor: pointer;
}

.durations .active {
    background-color: var(--background-selected);
}

footer {
    text-align: center;
}